<template>
  <div class="container">
    <BreadCrumb />
    <div class="title">
      <p class="title__title">
        Advanced Vue.js Component Composition With Container Components
      </p>
      <p class="title__sub-title">
        Demo application to show how to separate Vue.js components into
        Container components and Presentational Components.
      </p>
    </div>
    <GCard title="Products">
      <div class="products">
        <Product v-for="(o, i) of Products" :key="i" :data="o" />
      </div>
    </GCard>
    <GCard>
      <template v-slot:title>Article</template>
      <div class="articles">
        <Article v-for="(o, i) of Articles" :key="i" :data="o" />
      </div>
    </GCard>
  </div>
</template>

<script lang="ts">
import BreadCrumb from "@/components/BreadCrumb.vue";
import GCard from "@/components/GCard.vue";
import Product from "@/components/Product.vue";
import Article from "@/components/Article.vue";

import { Vue, Component } from "vue-property-decorator";
import { namespace } from "vuex-class";
const vxProduct = namespace("Product");
const vxArticle = namespace("Article");

@Component({
  components: { BreadCrumb, GCard, Product, Article },
})
export default class App extends Vue {
  @vxProduct.Action("loadProducts") loadProducts: any;
  @vxProduct.State("Products") Products: any;
  @vxArticle.Action("loadArticles") loadArticles: any;
  @vxArticle.State("Articles") Articles: any;

  created() {
    this.loadProducts({
      limit: 4,
      page: 1,
    });
    this.loadArticles({
      limit: 4,
      page: 1,
    });
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/pages";
</style>
