<template>
  <div class="article">
    <div class="article__img">
      <img :src="data.img" draggable="false" loading="lazy" />
    </div>
    <div class="article__panel">
      <p class="article__title text-line">{{ data.name }}</p>
      <p class="article__content">{{ data.text }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { article } from "@/services/article";

@Component
export default class App extends Vue {
  @Prop() data!: article;
}
</script>

<style lang="scss">
@import "@/assets/scss/components/article";
</style>
