<template>
  <div class="bread-crumb">
    <template v-for="(o, i) of items">
      <div :key="i" class="bread-crumb__item">
        <a :href="o.link ? o.link : '#'">{{ o.label }}</a>
        <div class="bread-crumb__separator">/</div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { BreadCrumb as typeBreadCrumb } from "@/types/index";
import { Vue, Component } from "vue-property-decorator";
import { namespace } from "vuex-class";
const BreadCrumb = namespace("BreadCrumb");

@Component
export default class App extends Vue {
  @BreadCrumb.State("listBreadCrumb") items!: typeBreadCrumb[];
}
</script>

<style lang="scss">
@import "@/assets/scss/components/bread-crumb";
</style>
