<template>
  <div class="g-card">
    <p class="g-card__title">
      <slot name="title">{{ title }}</slot>
    </p>
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class App extends Vue {
  @Prop({ default: undefined }) title?: string;
}
</script>

<style lang="scss">
@import "@/assets/scss/components/g-card";
</style>
