<template>
  <div class="product">
    <img
      class="product__img"
      :src="data.img"
      draggable="false"
      loading="lazy"
    />
    <div class="product__panel">
      <p class="product__title text-line" style="--line: 2">{{ data.name }}</p>
      <p class="product__price text-line"><span>€</span> {{ data.price }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { product } from "@/services/product";

@Component
export default class App extends Vue {
  @Prop() data!: product;
}
</script>

<style lang="scss">
@import "@/assets/scss/components/product";
</style>
