:root {
  --orange: #FFC8BA;
  --green: #93DFB8;
  --blue: #B5D8EB;
  --pink: #FFBDD8;
  --gray: #EEEEEE;
  --size: 1.5rem;
  --space: 14px;
  --width-nav: 150px;
}

body {
  /* margin: 0; */
  /* padding: 0; */
}

.b {
  margin-bottom: var(--space);
}

.flex-w {
  display: flex;
  flex-wrap: wrap;
}

.blue {
  order: 0;
  width: calc(100% - calc(var(--size) * 2));
  height: calc(var(--size) * 2);

  background-color: var(--blue);
}

.green {
  order: 1;
  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);

  background-color: var(--green);
}

.orange {
  order: 2;
  width: 100%;
  height: calc(var(--size) * 2);

  background-color: var(--orange);
}

.g2-flex {
  order: 3;
  width: 100%;
  height: auto;
}

.g3-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.pink {
  width: 100%;
  aspect-ratio: 16 / 9;

  background-color: var(--pink);
}

.gray {
  width: 100%;
  height: calc(var(--size) * 3);

  background-color: var(--gray);
}

@media (min-width: 768px) {
  .orange {
    order: 0;
    width: calc(calc(var(--size) * 9));
    margin-right: auto;
  }
  .green {
    order: 1;
  }
  .blue {
    order: 2;
    width: 100%;
  }
  .gray {
    float: left;
    /* width: 50%; */
    width: calc(50% - var(--space) / 2);
    height: calc(var(--size) * 4);
  }
  .gray.b:nth-child(even) {
    margin-right: calc(var(--space) / 2);
  }
  .gray.b:nth-child(odd) {
    margin-left: calc(var(--space) / 2);
  }
}

@media (min-width: 992px) {
  .orange {
    order: 0;
    width: calc(var(--width-nav) - var(--space) / 2);
    height: calc(var(--size) * 3);
    margin-right: var(--space);
  }
  .blue {
    order: 1;
    width: calc(100% - var(--width-nav) - var(--space) / 2);
    height: calc(var(--size) * 3);
  }
  .green {
    order: 2;
    width: calc(var(--width-nav) - var(--space) / 2);
    margin-right: var(--space);
    margin-bottom: 0;
    height: auto;
  }
  .g2-flex {
    order: 3;
    width: calc(100% - var(--width-nav) + (var(--space) / 2));
    margin: calc((var(--space) / 2) * -1);
  }
  .pink {
    float: left;
    width: calc(var(--width-nav) * 2);
    aspect-ratio: 1 / 1;
    margin: calc(var(--space) / 2);
  }
  .gray {
    width: calc(var(--width-nav) - var(--space) / 2);
    height: auto;
    aspect-ratio: 1 / 1;
    margin: calc(var(--space) / 2) !important;
  }
}