.bread-crumb {
  align-items: center;
  display: flex;
  padding: 14px 0;
  overflow-x: auto;
  border-bottom: 1px solid #d0d0d0;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  &__item {
    align-items: center;
    display: flex;
    &:last-child {
      a {
        font-weight: 500;
      }
      .bread-crumb__separator {
        display: none;
      }
    }
  }
  &__separator {
    margin: 0 8px;
  }
}
