.product {
  display: block;
  position: relative;
  margin-bottom: 36px;
  box-shadow: 0 0 4px 1px #e7e7e7;
  overflow: hidden;
  border-radius: 2px;
  width: 100%;

  &:nth-child(n + 4) {
    display: none;
  }

  &__panel {
    padding: 14px 16px;

    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    line-height: normal;
  }

  &__img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__price {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    width: calc(50% - 20px);
    margin: 10px;

    &:nth-child(4) {
      display: block;
    }
  }

  @media (min-width: 992px) {
    &:nth-child(4) {
      display: none;
    }
  }
}
