<template>
  <div id="figma">
    <FHeader class="mb-2" />
    <div class="mwc pv">
      <f-title>Trang tin Bộ trưởng Nguyễn Chí Dũng</f-title>
      <div class="row f-first-new mb-2">
        <a
          href="#"
          class="col-12 col-lg-7 mb-1"
        >
          <img
            :src="IMGFigmaFirstContent"
            class="f-first-new__image"
            draggable="false"
            loading="lazy"
          >
        </a>
        <div class="f-first-new__content col-12  col-lg-5">
          <a
            href="#"
            class="mb-1"
          >
            Hội nghị trực tuyến “Hiệp định Thương mại tự do Việt Nam và Vương
            quốc Anh - Đón đầu cơ hội”
          </a>
          <p>
            (MPI) – Ngày 12/5/2021, tại Trung tâm Điều hành Bộ Kế hoạch và Đầu
            tư đã diễn ra Hội nghị trực tuyến “Hiệp định Thương mại tự do Việt
            Nam và Vương quốc Anh - Đón đầu cơ hội”. Tham dự Hội nghị có Bộ
            trưởng Bộ Kế hoạch và Đầu tư Nguyễn Chí Dũng, Bộ trưởng Xuất khẩu
            Vương quốc Anh Graham Stuart, Đại sứ Vương quốc Anh tại Việt Nam
            Gareth Ward, Tổng Giám đốc HSBC UK Ian Stuart, Tổng Giám đốc HSBC
            Khu vực châu Á Thái Bình Dương Matt Lobner.
          </p>
        </div>
      </div>
      <f-container-new>
        <FNew
          :img="img2"
          title="Thông tư quy định mẫu văn bản, báo cáo liên quan đến hoạt động đầu tư tại Việt Nam, đầu tư từ Việt Nam ra nước ngoài và xúc tiến đầu tư"
        />
        <FNew
          :img="img3"
          title="Hội thảo ''Đề xuất chính sách phát triển các ngành công nghiệp ưu tiên, công nghiệp mũi nhọn đến năm 2030, tầm nhìn đến năm 2045''"
        />
        <FNew
          :img="img4"
          title="Bộ trưởng Nguyễn Chí Dũng làm việc với Ban Lãnh đạo mới của Diễn đàn doanh nghiệp Việt Nam"
        />
        <FNew
          :img="img2"
          title="Thông tư quy định mẫu văn bản, báo cáo liên quan đến hoạt động đầu tư tại Việt Nam, đầu tư từ Việt Nam ra nước ngoài và xúc tiến đầu tư"
        />
        <FNew
          :img="img4"
          title="Bộ trưởng Nguyễn Chí Dũng làm việc với Ban Lãnh đạo mới của Diễn đàn doanh nghiệp Việt Nam"
        />
      </f-container-new>
      <f-title class="mt-1 mb-2">
        Bộ trưởng với người dân, doanh nghiệp
      </f-title>
      <f-container-new class="mb-2">
        <FNew
          :img="img2"
          title="Thông tư quy định mẫu văn bản, báo cáo liên quan đến hoạt động đầu tư tại Việt Nam, đầu tư từ Việt Nam ra nước ngoài và xúc tiến đầu tư (15/04/2021-09:34:00 AM)"
        />
        <FNew
          :img="img3"
          title="Hội thảo ''Đề xuất chính sách phát triển các ngành công nghiệp ưu tiên, công nghiệp mũi nhọn đến năm 2030, tầm nhìn đến năm 2045''"
        />
        <FNew
          :img="img4"
          title="Bộ trưởng Nguyễn Chí Dũng làm việc với Ban Lãnh đạo mới của Diễn đàn doanh nghiệp Việt Nam"
        />
        <FNew
          :img="img2"
          title="Thông tư quy định mẫu văn bản, báo cáo liên quan đến hoạt động đầu tư tại Việt Nam, đầu tư từ Việt Nam ra nước ngoài và xúc tiến đầu tư (15/04/2021-09:34:00 AM)"
        />
      </f-container-new>
      <div class="row mb-2">
        <f-container-new-2
          class="col-12 col-md-6 col-xl-4"
          title="Bộ trưởng với công tác xã hội"
        >
          <FNew
            :img="img2"
            title="Thông tư quy định mẫu văn bản, báo cáo liên quan đến hoạt động đầu tư tại Việt Nam, đầu tư từ Việt Nam ra nước ngoài và xúc tiến đầu tư (15/04/2021-09:34:00 AM)"
          />
          <FNew
            :img="img5"
            title="Thứ trưởng Trần Duy Đông làm việc với Đại sứ Tây Ban Nha tại Việt Nam"
          />
          <FNew
            :img="img7"
            title="Công bố thủ tục hành chính mới, sửa đổi, bãi bỏ trong lĩnh vực đầu tư theo phương thức đối tác công tư, đấu thầu"
          />
        </f-container-new-2>
        <f-container-new-2
          class="col-12 col-md-6 col-xl-4"
          title="Bộ trưởng với công tác xã hội"
        >
          <FNew
            :img="img2"
            title="Thông tư quy định mẫu văn bản, báo cáo liên quan đến hoạt động đầu tư tại Việt Nam, đầu tư từ Việt Nam ra nước ngoài và xúc tiến đầu tư (15/04/2021-09:34:00 AM)"
          />
          <FNew
            :img="img5"
            title="Thứ trưởng Trần Duy Đông làm việc với Đại sứ Tây Ban Nha tại Việt Nam"
          />
          <FNew
            :img="img7"
            title="Công bố thủ tục hành chính mới, sửa đổi, bãi bỏ trong lĩnh vực đầu tư theo phương thức đối tác công tư, đấu thầu"
          />
        </f-container-new-2>
        <f-container-new-2
          class="col-12 col-md-6 col-xl-4"
          title="Bộ trưởng với công tác xã hội"
        >
          <FNew
            :img="img2"
            title="Thông tư quy định mẫu văn bản, báo cáo liên quan đến hoạt động đầu tư tại Việt Nam, đầu tư từ Việt Nam ra nước ngoài và xúc tiến đầu tư (15/04/2021-09:34:00 AM)"
          />
          <FNew
            :img="img5"
            title="Thứ trưởng Trần Duy Đông làm việc với Đại sứ Tây Ban Nha tại Việt Nam"
          />
          <FNew
            :img="img7"
            title="Công bố thủ tục hành chính mới, sửa đổi, bãi bỏ trong lĩnh vực đầu tư theo phương thức đối tác công tư, đấu thầu"
          />
        </f-container-new-2>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-xl-8">
          <f-title>Bài phát biểu của Bộ trưởng</f-title>
          <div class="row">
            <a
              href="#"
              class="the-new m-0 col"
            >
              <img
                :src="img9"
                draggable="false"
                loading="lazy"
                class="mb-1"
              >
              <p
                class="text-line"
                style="--line: 4"
              >
                Bài phát biểu của Bộ trưởng Nguyễn Chí Dũng tại Hội nghị Vietnam
                Venture Summit 2020
              </p>
              <p style="font-weight: 400; font-size: 100%; line-height: 130%;">
                Thưa các vị lãnh đạo đại diện các Ban, Bộ, ngành TƯ và địa
                phương, các tổ chức quốc tế, các đại sứ quán, các quỹ đầu tư
                khởi nghiệp sáng tạo, các tập đoàn, doanh nghiệp trong và ngoài
                nước.
              </p>
            </a>
            <div class="col time-line">
              <div class="time-line__item">
                <label
                  class="text-line"
                  style="--line: 4"
                >
                  Bài phát biểu của Bộ trưởng Nguyễn Chí Dũng tại Hội nghị
                  Vietnam Venture Summit 2020
                </label>
                <span>Ngày 25/11/2020-10:07:00 AM</span>
              </div>
              <div class="time-line__item">
                <label
                  class="text-line"
                  style="--line: 4"
                >
                  Bài phát biểu của Bộ trưởng Nguyễn Chí Dũng tại Hội nghị “Phát
                  triển mạnh mẽ doanh nghiệp - Hội nhập, hiệu quả, bền vững”
                </label>
                <span>Ngày 23/12/2019-09:50:00 AM</span>
              </div>
              <div class="time-line__item">
                <label
                  class="text-line"
                  style="--line: 4"
                >
                  Bài phát biểu của Bộ trưởng Bộ Kế hoạch và Đầu tư Nguyễn Chí
                  Dũng tại Diễn đàn Kinh tế hợp tác, hợp tác xã năm 2019
                </label>
                <span>Ngày 14/10/2019-09:30:00 AM</span>
              </div>
              <div class="time-line__item">
                <label
                  class="text-line"
                  style="--line: 4"
                >
                  Bài phát biểu khai mạc của Bộ trưởng Bộ Kế hoạch và Đầu tư
                  Nguyễn Chí Dũng tại Diễn đàn thường niên ...
                </label>
                <span>Ngày 14/10/2019-09:30:00 AM</span>
              </div>
            </div>
          </div>
          <div class="row">
            <f-container-new-2
              class="col-12 col-md"
              title="Tin Video về Bộ trưởng"
            >
              <FNew
                :img="img10"
                title="Thúc đẩy hệ sinh thái đổi mới sáng tạo Việt Nam phát triển và vươn mình ra thế giới"
              />
              <FNew
                :img="img12"
                title="Giới thiệu Trung tâm Đổi mới sáng tạo Quốc gia"
              />
              <FNew
                :img="img13"
                title="75 năm ngành Kế hoạch và Đầu tư - Tiên phong trong đổi mới"
              />
              <FNew
                :img="IMGFigmaFirstContent"
                title="Cơ chế chính sách thúc đẩy và khơi thông tiềm năng phát kinh tế tập thể, hợp tác xã"
              />
            </f-container-new-2>
            <f-container-new-2
              class="col-12 col-md"
              title="Tin Ảnh về Bộ trưởng"
            >
              <FNew
                :img="img11"
                title="Giải Thể thao MPI mở rộng năm 2021: Môn Bóng đá"
              />
              <FNew
                :img="img14"
                title="Giải Thể thao MPI mở rộng năm 2021: Môn Bóng bàn"
              />
              <FNew
                :img="img15"
                title="Hội thảo Nghiên cứu các vấn đề về giới trong di cư trong nước và tái cơ cấu kinh tế ở Việt Nam"
              />
              <FNew
                :img="img16"
                title="Thẩm định nhiệm vụ lập Quy hoạch tỉnh Lâm Đồng thời kỳ 2021-2030, tầm nhìn đến năm 2050"
              />
            </f-container-new-2>
          </div>
          <f-title>Văn bản chỉ đạo, điều hành</f-title>
          <FRuleNew
            title="Luật 35/2018/QH14"
            content="Sửa đổi, bổ sung một số điều của 37 luật có liên quan đến quy hoạch"
            ban-hanh="20/11/2018"
            hieu-luc="20/11/2019"
            :trang-thai="0"
          />
          <FRuleNew
            title="Luật 35/2018/QH14"
            content="Sửa đổi, bổ sung một số điều của 37 luật có liên quan đến quy hoạch"
            ban-hanh="20/11/2018"
            hieu-luc="20/11/2022"
            :trang-thai="1"
          />
          <FRuleNew
            title="Luật 35/2018/QH14"
            content="Sửa đổi, bổ sung một số điều của 37 luật có liên quan đến quy hoạch"
            ban-hanh="20/11/2018"
            hieu-luc="20/11/2019"
            :trang-thai="0"
          />
          <FRuleNew
            title="Luật 35/2018/QH14"
            content="Sửa đổi, bổ sung một số điều của 37 luật có liên quan đến quy hoạch"
            ban-hanh="20/11/2018"
            hieu-luc="20/11/2019"
            :trang-thai="0"
          />
        </div>
        <div class="col-12 col-xl-4 chuyen-muc">
          <f-title>Chuyên mục</f-title>
          <ul class="p-0 m-0 mb-1 mb-lg-2 mb-xl-3">
            <li><feather-icon icon="CircleIcon" /> Lãnh đạo Bộ</li>
            <li><feather-icon icon="CircleIcon" /> Hoạt động của Bộ trưởng</li>
            <li>
              <feather-icon icon="CircleIcon" /> Các bài viết, bài phát biểu
            </li>
            <li><feather-icon icon="CircleIcon" /> Các Bộ trưởng tiền nhiệm</li>
            <li>
              <feather-icon icon="CircleIcon" /> Trả lời kiến nghị của cử tri
            </li>
          </ul>
          <ul class="p-0 m-0 second">
            <li><feather-icon icon="RotateCwIcon" />CHUYỂN ĐỔI SÔ</li>
            <li>
              <feather-icon icon="CameraIcon" />HỌP BÁO BỘ KẾ HOẠCH VÀ ĐẦU TƯ
            </li>
            <li><feather-icon icon="CalendarIcon" />LỊCH CÔNG TÁC</li>
            <li><feather-icon icon="WifiIcon" />TIẾP CẬN THÔNG TIN</li>
            <li><feather-icon icon="LayersIcon" />THỦ TỤC HÀNH CHÍNH</li>
          </ul>
        </div>
      </div>
    </div>
    <FFooter class="mt-2" />
  </div>
</template>

<script>
/* eslint-disable global-require */
/* eslint-disable vue/no-unused-components */
import FHeader from '@/components/pages/figma/HeaderFigma.vue'
import FFooter from '@/components/pages/figma/FooterFigma.vue'
import FTitle from '@/components/pages/figma/TitleFigma.vue'
import FNew from '@/components/pages/figma/TheNew.vue'
import FContainerNew from '@/components/pages/figma/ContainerNews.vue'
import FContainerNew2 from '@/components/pages/figma/ContainerNews2.vue'
import FRuleNew from '@/components/pages/figma/RuleNew.vue'

export default {
  components: {
    FHeader,
    FFooter,
    FTitle,
    FContainerNew,
    FContainerNew2,
    FNew,
    FRuleNew,
  },
  data() {
    return {
      IMGFigmaFirstContent: require('@/assets/images/figma-first-content.png'),
      img2: require('@/assets/images/2.png'),
      img3: require('@/assets/images/3.png'),
      img4: require('@/assets/images/4.png'),
      img5: require('@/assets/images/5.png'),
      img7: require('@/assets/images/7.png'),
      img9: require('@/assets/images/9.png'),
      img10: require('@/assets/images/10.png'),
      img11: require('@/assets/images/11.png'),
      img12: require('@/assets/images/12.png'),
      img13: require('@/assets/images/13.png'),
      img14: require('@/assets/images/14.png'),
      img15: require('@/assets/images/15.png'),
      img16: require('@/assets/images/16.png'),
    }
  },
}
</script>

<style lang="scss">
@import '@/assets/scss/pages/figma';
</style>
