<template>
  <div
    id="vee-validation"
    class="card p-2 col-4"
  >
    <ValidationProvider
      v-slot="{ errors }"
      rules="requied"
      class="field"
    >
      <span>Title</span>
      <b-form-input
        v-model="modelTitle"
        placeholder="..."
      />
      <small>{{ errors[0] }}</small>
    </ValidationProvider>
    <div class="row">
      <ValidationProvider
        v-slot="{ errors }"
        rules="requied"
        class="field col"
      >
        <span>First name</span>
        <b-form-input
          v-model="modelFirstName"
          placeholder="..."
        />
        <small>{{ errors[0] }}</small>
      </ValidationProvider>
      <ValidationProvider
        v-slot="{ errors }"
        rules="requied"
        class="field col"
      >
        <span>Last name</span>
        <b-form-input
          v-model="modelLastName"
          placeholder="..."
        />
        <small>{{ errors[0] }}</small>
      </ValidationProvider>
    </div>
    <ValidationProvider
      v-slot="{ errors }"
      :rules="{
        requied: true,
        regex: /(?:\d{1,2}[-/\s]\d{1,2}[-/\s]'?\d{2,4})/,
      }"
      class="field"
    >
      <span>Dob</span>
      <b-form-input
        v-model="modelDob"
        placeholder="..."
      />
      <small>{{ errors[0] }}</small>
    </ValidationProvider>
    <ValidationProvider
      v-slot="{ errors }"
      rules="requied|email"
      class="field"
    >
      <span>Email</span>
      <b-form-input
        v-model="modelEmail"
        placeholder="..."
      />
      <small>{{ errors[0] }}</small>
    </ValidationProvider>
    <ValidationProvider
      v-slot="{ errors }"
      rules="requied|min: 6"
      class="field"
      vid="modelPass"
    >
      <span>Password</span>
      <b-form-input
        v-model="modelPassword"
        placeholder="..."
        type="password"
      />
      <small>{{ errors[0] }}</small>
    </ValidationProvider>
    <ValidationProvider
      v-slot="{ errors }"
      rules="requied|min: 6|confirmed:modelPass"
      class="field"
    >
      <span>Confirm Password</span>
      <b-form-input
        v-model="modelConfirmPassword"
        placeholder="..."
        type="password"
      />
      <small>{{ errors[0] }}</small>
    </ValidationProvider>
    <b-button variant="primary">
      Submit
    </b-button>
  </div>
</template>

<script>
import { extend } from 'vee-validate'
import {
  required, email, min, confirmed, regex,
} from 'vee-validate/dist/rules'

extend('requied', { ...required, message: 'Không được để trống!' })
extend('email', { ...email, message: 'Định dạng Email không đúng!' })
extend('min', { ...min, message: 'Phải nhập tối thiểu 6 ký tự' })
extend('confirmed', { ...confirmed, message: 'Mật khẩu không trùng khớp' })
extend('regex', { ...regex, message: 'Sai định dạng ngày tháng năm' })

export default {
  data() {
    return {
      modelTitle: undefined,
      modelFirstName: undefined,
      modelLastName: undefined,
      modelDob: undefined,
      modelEmail: undefined,
      modelPassword: undefined,
      modelConfirmPassword: undefined,
    }
  },
}
</script>

<style lang="scss">
@import '@/assets/scss/pages/vee-validation';
</style>
