.text-line {
  --line: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line);
}

:root {
  --text-color: #222222;
}

body {
  color: var(--text-color);
}
