<template>
  <div class="container-news">
    <div class="content-news">
      <slot />
    </div>
    <p class="see-more ml-auto">
      Xem tất cả
      <feather-icon icon="ArrowRightIcon" />
    </p>
  </div>
</template>
