<template>
  <footer class="pv pt-2 pb-2">
    CỔNG THÔNG TIN ĐIỆN TỬ BỘ KẾ HOẠCH VÀ ĐẦU TƯ<br>
    Bản quyền thuộc về Bộ Kế hoạch và Đầu tư<br>
    Địa chỉ: 6B Hoàng Diệu, Ba Đình, Hà Nội - ĐT: 080.43485; Phòng Hành chính -
    Văn phòng Bộ: 024.38455298; Fax: 024.38234453.<br>
    Trưởng Ban Biên tập: Nguyễn Như Sơn – Giám đốc Trung tâm Tin học; Email:
    banbientap@mpi.gov.vn<br>
    Ghi rõ nguồn Cổng thông tin điện tử Bộ Kế hoạch và Đầu tư (www.mpi.gov.vn)
    khi trích dẫn lại tin từ địa chỉ này.
  </footer>
</template>
