<template>
  <header>
    <div class="banner pt-lg-1 pb-lg-1 pv mwc">
      <div class="banner__left mr-auto">
        <img
          :src="Logo"
          draggable="false"
          loading="lazy"
          class="banner__logo mr-2"
        >
        <label class="banner__title-header">
          Cổng thông tin điện tử Bộ kế hoạch và đầu tư
        </label>
      </div>

      <div class="banner__right">
        <ul class="banner__nav p-0">
          <li><a href="#">Liên kết</a></li>
          <li><a href="#">RSS</a></li>
          <li><a href="#">Sơ đồ</a></li>
        </ul>
        <label class="banner__translate">
          Ngôn ngữ: <span>{{ translate }}</span>
          <feather-icon
            style="margin-left: 10px; width: 16px; height: 16px"
            icon="ArrowDownIcon"
          />
        </label>
      </div>
    </div>

    <div class="f-nav">
      <div class="mwc pt-1 pb-1 pv">
        <ul class="f-nav__nav mr-auto">
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Bộ trưởng</a></li>
          <li><a href="#">Dịch vụ công</a></li>
          <li>
            <a href="#">
              Tin tức
              <feather-icon
                style="margin-left: 2px; width: 16px; height: 16px"
                icon="ArrowDownIcon"
              />
            </a>
          </li>
        </ul>

        <ul class="f-nav__contact">
          <li><feather-icon icon="PhoneIcon" />Đường dây nóng</li>
          <li><feather-icon icon="CreditCardIcon" />Danh bạ điện thoại</li>
          <li>Chỉnh cỡ chữ: A a</li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
import Logo from '@/assets/images/logo/logo-mpi.png'

export default {
  data() {
    return {
      Logo,
      translate: 'Tiếng việt',
    }
  },
}
</script>
