<template>
  <div class="dashboard-page card">
    <div class="title">
      <p class="title__title">
        Advanced Vue.js Component Composition With Container Components
      </p>
      <p class="title__sub-title">
        Demo application to show how to separate Vue.js components into
        Container components and Presentational Components.
      </p>
    </div>
    <GCard title="Products">
      <div class="products">
        <Product
          v-for="(o, i) of Products"
          :key="i"
          :data="o"
          @click:product="clickProduct"
        />
      </div>
    </GCard>
    <GCard>
      <template v-slot:title>
        Article
      </template>
      <div class="articles">
        <Article
          v-for="(o, i) of Articles"
          :key="i"
          :data="o"
          @click:article="clickArticle"
        />
      </div>
    </GCard>
  </div>
</template>

<script>
import GCard from '@/components/GCard.vue'
import Product from '@/components/Product.vue'
import Article from '@/components/Article.vue'
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    GCard,
    Product,
    Article,
  },
  computed: {
    ...mapState('Product', ['Products']),
    ...mapState('Article', ['Articles']),
  },
  created() {
    this.loadProducts({
      limit: 4,
      page: 1,
    })
    this.loadArticles({
      limit: 4,
      page: 1,
    })
  },
  methods: {
    ...mapActions('Product', ['loadProducts']),
    ...mapActions('Article', ['loadArticles']),
    clickProduct(product) {
      console.log('product', product)
    },
    clickArticle(article) {
      console.log('article', article)
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/scss/pages';
</style>
