<template>
  <div
    class="article"
    @click.stop="clickArticle"
  >
    <div class="article__img">
      <img
        :src="data.img"
        draggable="false"
        loading="lazy"
      >
    </div>
    <div class="article__panel">
      <p class="article__title text-line">
        {{ data.name }}
      </p>
      <p class="article__content">
        {{ data.text }}
      </p>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/require-default-prop */
export default {
  props: {
    data: Object,
  },
  methods: {
    clickArticle() {
      this.$emit('click:article', this.data)
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/scss/components/article';
</style>
