<template>
  <div class="bread-crumb">
    <template v-for="(o, i) of listBreadCrumb">
      <div
        :key="i"
        class="bread-crumb__item"
      >
        <a :href="o.link ? o.link : '#'">{{ o.label }}</a>
        <div class="bread-crumb__separator">
          /
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState('BreadCrumb', ['listBreadCrumb']),
  },
}
</script>

<style lang="scss">
@import '@/assets/scss/components/bread-crumb';
</style>
