<template>
  <div class="g-card">
    <p class="g-card__title">
      <slot name="title">
        {{ title }}
      </slot>
    </p>
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: undefined,
      validator(data) {
        if (typeof data !== 'string') return false
        return true
      },
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/scss/components/g-card';
</style>
