<template>
  <div
    class="product"
    @click.stop="clickProduct"
  >
    <img
      class="product__img"
      :src="data.img"
      draggable="false"
      loading="lazy"
    >
    <div class="product__panel">
      <p
        class="product__title text-line"
        style="--line: 2"
      >
        {{ data.name }}
      </p>
      <p class="product__price text-line">
        <span>€</span> {{ data.price }}
      </p>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/require-default-prop */
export default {
  props: {
    data: Object,
  },
  methods: {
    clickProduct() {
      this.$emit('click:product', this.data)
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/scss/components/product';
</style>
