$color-theme: #db353a;
$color: #393939;
$max-width-screen: 1920px;

@mixin xs {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

#figma .mwc {
  max-width: $max-width-screen;
  margin: auto;
}

#figma {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
  font-family: Arial;
  color: $color;

  .pv {
    padding-left: 14px;
    padding-right: 14px;
    @include md {
      padding-left: 26px;
      padding-right: 26px;
    }
    @include lg {
      padding-left: 42px;
      padding-right: 42px;
    }
  }

  .f-first-new {
    &__image {
      width: 100%;
      aspect-ratio: 5 / 3;
      object-fit: cover;
    }

    &__content {
      a {
        line-height: 125%;
        display: block;
        font-weight: bold;
        font-size: 1.6rem;
        color: $color;
      }
      p {
        font-size: 1.1rem;
        line-height: 130%;
        letter-spacing: 0.05rem;
      }
    }

    @include lg {
      &__content {
        a {
          font-size: 1.9rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
    @include xl {
      &__content {
        a {
          font-size: 2.7rem;
        }
        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}

#figma header {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 6px;

    &__left {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    &__logo {
      max-width: 50px;
      width: 50px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    &__title-header {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin: 0;
      font-weight: bold;
      color: $color-theme;
      flex: 1;
    }

    &__right {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      margin-top: 12px;
    }

    &__nav {
      margin-bottom: 0;
      margin-right: auto;
      white-space: nowrap;
      li {
        display: inline;
        margin-right: 2rem;
        a {
          font-weight: bold;
          color: $color-theme;
          font-size: 1rem;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__translate {
      cursor: pointer;
      font-weight: bold;
      color: $color-theme;
      font-size: 1rem;
      white-space: nowrap;
    }

    @include lg {
      flex-direction: row;
      margin-top: 0;
      margin-bottom: 0;
      &__right {
        flex-wrap: nowrap;
        width: unset;
        margin-top: 0;
      }
      &__nav {
        margin-right: 24px;
      }
    }
  }

  .f-nav {
    background-color: $color-theme;
    width: 100%;
    color: white;

    .mwc {
      display: flex;
      flex-direction: column;
    }

    &__nav,
    &__contact {
      margin-bottom: 0;
      padding-left: 0;
      li {
        display: inline-block;
        margin-right: 16px;
        margin-bottom: 4px;
        font-size: 1rem;
        font-weight: bold;
        a {
          color: white;
        }
        svg {
          margin-right: 6px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__nav {
      margin-bottom: 8px;
    }

    @include lg {
      .mwc {
        flex-direction: row;
      }
      &__nav {
        margin-bottom: 0;
      }
    }
  }
}

#figma footer {
  background-color: $color-theme;
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 160%;
}

#figma .f-title {
  display: block;
  width: 100%;
  font-size: 1.26rem;
  color: $color-theme;
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid var(--gray);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 16%;
    min-width: 160px;
    height: 1px;
    background-color: $color-theme;
    transform: translateY(100%);
  }

  @include lg {
    font-size: 1.3rem;
  }
  @include xl {
    font-size: 1.6rem;
  }
}

#figma .container-news {
  position: relative;
  display: flex;
  flex-direction: column;

  .content-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -14px;

    .the-new {
      --length-item: 2;
      width: calc(100% / var(--length-item) - 14px * 2);

      @include md {
        --length-item: 3;
      }
      @include lg {
        --length-item: 4;
      }
      @include xl {
        --length-item: 5;
      }
    }
  }

  & > .see-more {
    color: $color-theme;
    font-weight: bold;
    font-size: 0.95rem;
    margin-bottom: 0;
    cursor: pointer;

    @include md {
      font-size: 1rem;
    }
    @include lg {
      font-size: 1.08rem;
    }
    @include xl {
      font-size: 1.2rem;
    }
  }
}

#figma .the-new {
  width: 100%;
  display: inline-block;
  margin: 14px;

  img {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
  }

  p {
    font-weight: bold;
    font-size: 1rem;
    line-height: 18px;
    text-transform: capitalize;
    color: $color;
  }

  @include md {
    p {
      font-size: 1.1rem;
      line-height: 20px;
    }
  }
  @include lg {
    p {
      font-size: 1.2rem;
      line-height: 22px;
    }
  }
  @include xl {
    p {
      font-size: 1.3rem;
      line-height: 24px;
    }
  }
}

#figma .container-news-2 {
  .content-news {
    .the-new {
      --length-item: 1;
    }

    .the-new:not(:first-child) {
      display: flex;
      --image-size: 120px;

      img {
        width: var(--image-size);
        margin-right: 14px;
        margin-bottom: 0 !important;
      }

      p {
        width: calc(100% - var(--image-size) - 14px);
        font-weight: 400;
      }

      @include md {
        --image-size: 135px;
      }
      @include lg {
        --image-size: 160px;
      }
      @include xl {
        --image-size: 180px;
      }
    }
  }
}

#figma .time-line {
  &__item {
    padding-bottom: 28px;
    padding-left: 18px;
    border-left: 1px solid var(--gray);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      width: 14px;
      height: 14px;
      top: 0;
      left: 0;
      border-radius: 50%;
      transform: translate(-55%, 4px);
      background-color: $color-theme;
    }
    &:first-child::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
      background-color: white;
      transform: translateX(-50%);
    }

    &:last-child {
      border-left-color: transparent;
    }

    label {
      font-size: 0.9rem;
      font-weight: bold;
      cursor: pointer;
    }

    span {
      display: block;
      font-size: 0.8rem;
      font-weight: 400;
      margin-top: 4px;
    }

    @include md {
      label {
        font-size: 1rem;
      }
      span {
        font-size: 0.9rem;
      }
    }
    @include lg {
      label {
        font-size: 1.1rem;
      }
      span {
        font-size: 1rem;
      }
    }
    @include xl {
      label {
        font-size: 1.2rem;
      }
      span {
        font-size: 1.05rem;
      }
    }
  }
}

#figma .rule-news {
  border-bottom: 1px solid #dedede;

  &__title {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 8px 12px;
    border: 1px solid #dedede;
    cursor: pointer;

    & > svg {
      margin-right: 12px;
      color: $color-theme;
    }
  }

  @mixin text-style {
    color: $color;
    font-size: 1.1rem;
  }

  & > .row > .col-7 {
    border-right: 1px solid #dedede;
    @include text-style();
    position: relative;

    .download {
      cursor: pointer;
      position: absolute;
      bottom: 12px;
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
      }
    }
  }

  & > .row > .col-5 {
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        @include text-style();
        margin-bottom: 12px;

        span {
          margin-left: 8px;
        }

        &.red span {
          color: var(--red);
        }
        &.blue span {
          color: var(--blue);
        }
      }
    }
  }
}

#figma .chuyen-muc {
  ul {
    li {
      list-style: none;
      line-height: 180%;
      cursor: pointer;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      svg {
        color: $color-theme;
        margin-right: 16px;
        width: 18px;
        height: 18px;
      }
    }
  }

  ul.second {
    li {
      border: 1px solid $color-theme;
      padding: 12px 18px;
      margin-bottom: 12px;
      color: $color-theme;
      font-weight: bold;
      svg {
        width: 24px;
        height: 24px;
        margin-right: 18px;
      }
    }
  }
}
