#vee-validation {
  .field {
    margin-bottom: 18px;

    & > span {
      display: block;
      width: fit-content;
      margin-bottom: 4px;
    }

    & > small {
      color: var(--red);
    }
  }
}