.article {
  display: block;
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    flex-grow: 0;
    width: 100%;
    margin-right: 16px;
    border-radius: 2px;
    overflow: hidden;
    img {
      width: 100%;
      aspect-ratio: 5 / 4;
      object-fit: cover;
    }
  }

  &__panel {
    padding: 14px 0;
    flex-grow: 1;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0rem;
    line-height: normal;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 12px;
  }

  &__content {
    margin-bottom: 0;
    font-size: 1.05rem;
  }

  @media (min-width: 768px) {
    display: flex;

    &__img {
      min-width: 125px;
      max-width: 125px;
    }
    &__panel {
      padding: 0;
    }
    &__title {
      line-height: normal;
    }
  }

  @media (min-width: 992px) {
    &__img {
      min-width: 150px;
      max-width: 150px;
    }
  }
}
