.title {
  padding: 20px 0;
  &__title {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03rem;
    text-align: center;

    max-width: 620px;
    margin: 0 auto;
    margin-bottom: 0.6rem;
  }
  &__sub-title {
    font-size: 1.05rem;
    font-weight: 400;
    letter-spacing: 0.02rem;
    line-height: normal;
    text-align: center;
    margin-bottom: 2rem;

    max-width: 590px;
    margin: 0 auto;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.articles {
}

@media (min-width: 768px) {
  .title {
    &__title {
      font-size: 2rem;
      line-height: 2rem;
    }
    &__sub-title {
      font-size: 1.2rem;
    }
  }
  .products {
    margin: -10px;
  }
}

@media (min-width: 992px) {
  .products {
    flex-wrap: nowrap;
  }
}
